{% extends "base.html.twig" %}
{% block title %}
	{{ parent() }}
	Modifier une zone économique
{% endblock %}
{% block content %}
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-md-6 align-items-center">
				<h1 class="text-center text-primary fw-bold m-2">Modifier une zone économique</h1>
				<form method="POST">
					<input type="hidden" value="{{zone.id}}" name="id" class="form-control">
					<input type="text" value="{{zone.nom}}" name="nom" class="form-control">
					<div class="text-center">
						<input type="submit" value="Modifier" class="btn btn-
						primary m-2">
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
