{% extends "base.html.twig" %}
{% block title %}
	{{ parent() }}
	Modifier un produit
{% endblock %}
{% block content %}
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-md-6 align-items-center text-primary">
				<h1 class="text-center text-primary fw-bold m-2">Modifier un produit</h1>
				<form method="POST">
					<input type="hidden" value="{{products.id}}" name="id" class="form-control">
					<input type="text" value="{{products.nom}}" name="nom" class="form-control">
					<input type="text" value="{{products.prix}}" name="prix" class="form-control">
                    <div class="text-center text-primary">
						<input type="submit" value="Modifier" class="btn btn-primary m-2 text-primary">
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
