{% extends "base.html.twig" %}
{% block title %}
	{{ parent() }}
	Ajouter une monnaie
{% endblock %}
{% block content %}
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-md-6 align-items-center">
				<h1 class="text-center text-primary fw-bold m-2">Ajouter une monnaie</h1>
				<form action="" method="post">
					<input type="text" id="name" name="name" class="form-control" placeholder="désignation" required>
					<select id="idZone" name="idZone" class="form-control" required>
						{% for z in zones %}
							<option value="{{z.id}}">{{z.nom}}</option>
						{% endfor %}
					</select>
					<div class="text-center">
						<input type="submit" value="Ajouter" class="btnbtn-primary m-2">
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
